<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Saveo order Placing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
      

 <p>Your order has been placed and will be processed as soon as possible.</p>
          <p class="mb-0">
            <span class="text-muted">Order ID: </span>
            <span class="text-info">#SaveoOid<span th:text="${oid}"></span></span>
          </p>                </div>
</body>

</html>